.about {
  padding: 80px 56px 80px 104px;
  background-color: #fff;
  display: flex;
}

.about__avatar {
  width: 464px;
  height: 464px;
  margin: 0;
  border-radius: 50%;
}

.about__description {
  width: 600px;
  margin-top: 51px;
  margin-left: 56px;
}

.about__title {
  margin: 0;
  font-size: 40px;
  font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 46px;
  color: #1a1b22;
}

.about__text {
  margin: 24px 0 0;

  font-size: 18px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #1a1b22;
}

@media screen and (max-width: 1100px) {
  .about {
    padding: 0 40px;
    margin: 40px auto;
  }

  .about__text {
    margin-top: 16px;
  }
  .about__description {
    width: auto;
    margin: 0;
    padding: 0 0 0 32px;
  }
  .about__avatar {
    width: 232px;
    height: 232px;
    margin: 0 auto 32px;
  }

  .about__title {
    margin: 0;
    font-size: 30px;
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 40px;
    color: #1a1b22;
  }
}

@media screen and (max-width: 700px) {
  .about {
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .about__text {
    margin-top: 16px;
  }
  .about__description {
    width: auto;
    margin: 0;
    padding: 0 16px 128px 16px;
  }
  .about__avatar {
    width: 272px;
    height: 272px;
    margin: 0 auto 24px;
  }

  .about__title {
    margin: 0;
    font-size: 30px;
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 40px;
    color: #1a1b22;
  }
}
